/* Deployed Projects Styles */
html {
    box-sizing: border-box;
}

nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.left {
    float: left;
    display: block;
}

.left a:hover {
    background: linear-gradient(#ff8a00,#da1b60);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right {
    float: right;
}

.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}

.nav-link:hover {
    color: black;
}

.hvr-sweep-to-right:before {
    background-image: url("https://image.freepik.com/free-photo/dry-cracked-ground-texture_1232-3134.jpg");
}

.hvr-sweep-to-left:before {
    background-image: url("https://image.freepik.com/free-photo/wave-sea_1150-10745.jpg");
}

.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
    background: linear-gradient(#5c7f92, #18283e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

.gradient-d {
    background-image: url("https://image.freepik.com/free-photo/dry-cracked-ground-texture_1232-3134.jpg");
    box-shadow: 0 1px 4px #000;
}

main {
    /* font-family: "proxima-nova", sans-serif; */
    font-weight: bold;
}

.work-content-a h4, .work-content-a h3 {
    background: linear-gradient(#f3cb77, #fec774);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-content-b h4, .work-content-b h3 {
    background: linear-gradient(#5c7f92, #18283e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inner-gradient-content {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.gradient-content {
    padding: calc(200px + 1rem) 2rem 0 2rem;
    margin-top: -200px;
    overflow: hidden;
}

.all-work {
    position: relative;
    background-image: url("https://image.freepik.com/free-photo/dry-cracked-ground-texture_1232-3134.jpg");
}

.work {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: table;
}

.work-content-a, .work-content-b {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3em;
    height: 35em;
}

.work-content-a a, .work-content-b a {
    margin: 0.5em 0;
    display: inline-flex;
    border: 2px solid #f9f9f9;
    border-radius: 4px;
    padding: 0.9em 1em 0.8em;
    text-decoration: none;
    color: #f9f9f9;
}

.work-content-a a:hover {
    background-image: linear-gradient(#f3cb77, #ced474);
    color: black;
}

.work-content-b a:hover {
    background-image: linear-gradient(#5c7f92, #18283e);
    color: black;
}

#safely {
    background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/1530827418/Roman-amphitheater-Nimes-RTTNIMES0718.jpg");

}

#furiends {
    background-image: url("https://image.freepik.com/free-photo/white-dog_95678-2.jpg");
    background-position: bottom center;
}

#webscrape {
    background-image: url("https://image.freepik.com/free-photo/business-people-reading-newspaper_53876-14764.jpg");
}

#theoffice {
    background-image: url("https://images6.alphacoders.com/542/542776.jpg");
    background-position: center;
    border-bottom-right-radius: 30%;
    position: relative;
    z-index: 1;
    padding: 2rem 2rem;
    overflow: hidden;
    background-color: #191a1a;
}