/* Global Styles */
html {
    box-sizing: border-box;
}

nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.left a:hover {
    background: linear-gradient(#ff8a00,#da1b60);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: linear-gradient(#ff8a00,#da1b60);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left {
    float: left;
    display: block;
}

.right {
    float: right;
}

.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}

.nav-link.nav-title {
    font-size: 18px;
}

.nav-link:hover {
    color: black;
}

.hvr-sweep-to-right:before {
    background-image: url("https://image.freepik.com/free-photo/dry-cracked-ground-texture_1232-3134.jpg");
}

.hvr-sweep-to-left:before {
    background-image: url("https://image.freepik.com/free-photo/wave-sea_1150-10745.jpg");
}

.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
    background: linear-gradient(#ff8a00,#da1b60);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* Header Styles */
header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.125);
}

#portfolio-photo {
    height: 200px;
    width: 133px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    padding: .5rem;
}

img {
    max-width: 100%;
}

blockquote {
    margin: 0 5rem 1rem;
}

/* Main Styles */
body {
    background-color: #191a1a;
    color: white;
    overflow: hidden;
}

.heading {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;

}

.main-content {
    border-bottom-right-radius: 30%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #191a1a;
}

.about-me {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.gradient {
    background-image: url("https://image.freepik.com/free-photo/tropical-green-leaves-background_53876-88891.jpg");
    background-size: auto;
    box-shadow: 0 1px 4px #000;
}

.about-me {
    padding: 10px;
    line-height: 1.5;
    min-width: 75%;
}

.gradient-content {
    padding: calc(200px + 1rem) 2rem 0 2rem;
    margin-top: -200px;
    overflow: hidden;
}