/* NAV STYLES */
nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.left {
    float: left;
    display: block;
}

.right {
    float: right;
}

.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}

.hvr-sweep-to-right:before {
    background-image: linear-gradient(to right, #404cf3, #da1b60);
}

.hvr-sweep-to-top:before {
    background-image: linear-gradient(to right, #fffb00, #35D8B3);
}

.hvr-sweep-to-left:before {
    background-image: linear-gradient(to right, #ae00ff, #fffb00);
}

.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
    color: black;
  }

/* HEADER STYLES */
header {
    border-top-left-radius: 200px;
}

#portfolio-photo {
    height: 200px;
    width: 133px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    padding: .5rem;
}

img {
    max-width: 100%;
}

blockquote {
    margin: 0 5rem 1rem;
}

.a-s-l {
    text-align: center;
}

/* MAIN STYLES */
body {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.125);
    padding: 2rem;

}

.main-content {
    border-bottom-right-radius: 200px;
    position: relative;
    z-index: 1;
    padding: 2rem 2rem;
    overflow: hidden;
    background-color: black;
}

.about-me {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.tech {
    display: flex;
    flex-direction: column;
}

.svg {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.github {
    background-color: white;
}

.ex {
    background-color: white;
}

.card {
    color: black;
    max-width: 400px;
}

/* .logo {
    max-height: 350px;
    max-width: 350px;
} */

.gradient {
    background-image: linear-gradient(to right,#ff8a00,#da1b60);
    position: relative;
}

.gradient-r {
    background-image: linear-gradient(to right, #da1b60, #404cf3);
}

.gradient-d {
    background-image: linear-gradient(to right, #35D8B3, #fffb00);
}

.gradient-c {
    background-image: linear-gradient(to right, #fffb00, #ae00ff);
}

.gradient-content {
    padding: calc(200px + 1rem) 2rem 0 2rem;
    margin-top: -200px;
    overflow: hidden;
}

.inner-gradient-content {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

/* STYLE FOR TOGGLE BUTTON */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Resume Styles */
.resume-left {
    float: left;
    margin: auto;
}

.resume-right {
    float: right;
    margin-right: auto;
}

/* Deployed Projects Styles */
.project {
    margin: auto;
}

.deployed-projects {
    float: left;
    margin: auto;
}

.solo-work {
    float: right;
    margin-right: auto;
}

.tech {
    text-align: center;
}

.front-end {
    float: left;
}

.back-end {
    float: right;
}

/* Contact Styles */
.find-me {
    text-align: center;
}

.message-me {
    color: aquamarine;
}